<title>404</title>
<link rel="stylesheet" href="bootstrap.min.css" />
<div>
  <h1>page could not be found</h1>
</div>
<style>
  div {
    text-align: center;
    margin-top: 100px;
  }
  h1 {
    color: red;
  }
</style>
<script>
  setTimeout(() => {
    window.location.assign("/");
  }, 2000);
</script>
