<div class="dropdown">
  <button
    class="btn btn-primary dropdown-toggle"
    type="button"
    id="dropdownMenuButton1"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Sort by
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Rating</a></li>
    <li><a class="dropdown-item" href="#">Games</a></li>
    <li><a class="dropdown-item" href="#">Goals</a></li>
    <li><a class="dropdown-item" href="#">Contributions</a></li>
    <li><a class="dropdown-item" href="#">Goals Per Game</a></li>
    <li><a class="dropdown-item" href="#">Contributions Per Game</a></li>
    <li><a class="dropdown-item" href="#">Hattricks</a></li>
    <li><a class="dropdown-item" href="#">Clean Sheets</a></li>
  </ul>
</div>
