<div class="header">
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-dark"
    style="position: fixed; width: 100%"
  >
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Fifa Stats</a>
      <!-- if (showDropdown==true) the show it-->
      <% if(showDropdown) {%> <% include ('./headerDropdown.ejs') %> <% } %>
    </div>
  </nav>
</div>
