<style>
  #rightDropdownToggle {
    margin-right: 0px;
  }
</style>
<script>
  window.onload = () => {
    const dropdown = document.getElementById("rightDropdownToggle");
    dropdown.onclick = () => {
      if (dropdown.style.marginRight == "100px")
        dropdown.style.marginRight = "0px";
      else dropdown.style.marginRight = "100px";
    };
  };
</script>
<div class="header" style="position: fixed; width: 100%; z-index: 100">
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-dark"
    style="position: fixed; width: 100%"
  >
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Fifa Stats</a>
      <!-- if (showDropdown==true) then show it-->
      <div id="rightDropdownToggle">
        <% if(showDropdown==true) {%>
        <!--  -->
        <% if (dropdownFor == 'update'){ %>
        <!--  -->
        <%-include ('./headerDropdownForUpdate.ejs')%>
        <!--  -->
        <% } %>
        <!--  -->
        <% if (dropdownFor == 'seasonDetails') {%>
        <!--  -->
        <%- include ('./headerDropdownForSeasonDetails.ejs')%>
        <!--  -->
        <% } %>
        <!--  -->
        <% if (dropdownFor == 'totalDetails') {%>
        <!--  -->
        <%- include ('./headerDropdownForTotalDetails.ejs')%>
        <!--  -->
        <% } %>
        <!--  -->
        <%} %>
      </div>
    </div>
  </nav>
</div>
