<div class="dropdown">
  <button
    class="btn btn-primary dropdown-toggle"
    type="button"
    id="dropdownMenuButton1"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Sort by
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="/players/sortby/rating">Rating</a></li>
    <li><a class="dropdown-item" href="/players/sortby/games">Games</a></li>
    <li><a class="dropdown-item" href="/players/sortby/goals">Goals</a></li>
    <li>
      <a class="dropdown-item" href="/players/sortby/contributions"
        >Contributions</a
      >
    </li>
    <li>
      <a class="dropdown-item" href="/players/sortby/goalsPerGame"
        >Goals Per Game</a
      >
    </li>
    <li>
      <a class="dropdown-item" href="/players/sortby/contributionsPerGame"
        >Contributions Per Game</a
      >
    </li>
    <li>
      <a class="dropdown-item" href="/players/sortby/hattricks">Hattricks</a>
    </li>
    <li>
      <a class="dropdown-item" href="/players/sortby/cleanSheets"
        >Clean Sheets</a
      >
    </li>
  </ul>
</div>
