<style>
  .player {
    margin-top: 20px;
  }
</style>
<div class="player">
  <div class="card">
    <div class="card-body">
      <p><%= player.name %></p>
      <p><%= player.initialAge %> <%= player.position %></p>
      <% if (player.status === "retired"){ %>
      <!--  -->
      <p><button class="btn btn-sm btn-danger">Retired</button></p>
      <!--  -->
      <% } %>
      <!--  -->
      <% if (player.status === "sold"){ %>
      <!--  -->
      <p><button class="btn btn-sm btn-warning">Sold</button></p>
      <!--  -->
      <% } %>
    </div>
  </div>
</div>
