<style>
  .player {
    margin-top: 20px;
  }
</style>
<div class="player">
  <div class="card">
    <div class="card-body">
      <p><%= player.name %></p>
      <p><%= player.initialAge %> <%= player.position %></p>
    </div>
  </div>
</div>
