<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="common.css" />
    <style>
      .btnBox {
        display: flex;
        flex-direction: column;
      }
      .mainScreenBtns {
        display: flex;
        flex-direction: row;
        margin: 20px;
      }
    </style>
  </head>
  <body>
    <%- include('./components/header.ejs', {showDropdown:false}) %>
    <div class="mainBody">
      <div class="btnBox">
        <div class="mainScreenBtns">
          <button
            class="btn btn-lg btn-success"
            onclick="location.assign('/players')"
          >
            List All Players
          </button>
        </div>
        <div class="mainScreenBtns">
          <button
            class="btn btn-lg btn-danger"
            onclick="location.assign('/seasons')"
          >
            List All Seasons
          </button>
        </div>
        <div class="mainScreenBtns">
          <button
            class="btn btn-lg btn-primary"
            onclick="location.assign('/update/choose')"
          >
            Update Existing Player
          </button>
        </div>
        <div class="mainScreenBtns">
          <button
            class="btn btn-lg btn-warning"
            onclick="location.assign('/add')"
          >
            Add New Player
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
