<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>seasonal stats</title>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../../bootstrap.min.css" />
    <link rel="stylesheet" href="../../common.css" />
  </head>
  <body>
    <%- include('./components/header.ejs',
    {showDropdown:true,dropdownFor:'seasonalStats',playerid:docs[0].refId}) %>
    <div class="mainBody">
      <h2>Seasons for <%= docs[0].name %></h2>
      <div class="gap"></div>
      <% docs.forEach(doc => {%>
      <!--  -->
      <%-include('./components/playertab3.ejs', {player:doc}) %>
      <!--  -->
      <%}) %>
    </div>
  </body>
</html>
